<!DOCTYPE html>
<html>
  <head>
    <title>UberPriceTracker</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul>
        <ul class="nav nav-tabs">
          <li><%= link_to "Uber Price Tracker", root_path %></li>
        </ul>
        <%= yield %>
    </div>
</html>
